<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE EMPRO | Available Products</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="container">
      <header class="board__header">
        <h2>Performance</h2>
        <a href="/" class="nav-link">Home</a>
      </header>
      <main class="available__main">
        <div class="dept">
          <h3>Fabric</h3>
          <ul>
            <% for(let i=0; i<fabric.length; i++) {%> 
              <li class="card__li">
                <% var fabricTimeDiff = ''; %> 
                <% for(let key in fabric[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=fabric[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                  <% fabricTimeDiff =  moment(fabric[i]["published"], "llll").diff(moment(fabric[i]['startedAt'], "llll"), 'm')%> 
                <% } %>
                      <div class="timeDiff"><b>Lead Time</b><%=fabricTimeDiff%> mins</div>
              </li>
            <%}%>
          </ul>
        </div>
        <div class="dept">
          <h3>Cutting</h3>
          <ul>
            <% for(let i=0; i<cutting.length; i++) {%> 
              <li class="card__li">
                <% let cuttingTimeDiff = '' %> 
                <% for(let key in cutting[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=cutting[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                  <% cuttingTimeDiff =  moment(cutting[i]["published"], "llll").diff(moment(cutting[i]['startedAt'], "llll"), 'm')%> 
                <% } %>
                <div class="timeDiff"><b>Lead Time</b><%=cuttingTimeDiff%> mins</div>
              </li>
            <%}%>
          </ul>
        </div>
        <div class="dept">
          <h3>Sewing</h3>
          <ul>
            <% for(let i=0; i<sewing.length; i++) {%> 
              <li class="card__li">
                <% let sewingTimeDiff = '' %> 
                <% for(let key in sewing[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=sewing[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                  <% sewingTimeDiff =  moment(sewing[i]["published"], "llll").diff(moment(sewing[i]['startedAt'], "llll"), 'm')%> 
                <% } %>
                <div class="timeDiff"><b>Lead Time</b><%=sewingTimeDiff%> mins</div>
              </li>
            <%}%>
          </ul>
        </div>
        <div class="dept">
          <h3>finishing</h3>
          <ul>
             <% for(let i=0; i<finishing.length; i++) {%> 
              <li class="card__li">
                <% let finishingTimeDiff = '' %> 
                <% for(let key in finishing[i]) {%> 
                  <% if(key !== 'createdAt') {%> 
                    <% if(key !== 'id') { %> 
                      <div><b><%=key %>:</b>  <%=finishing[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                  <% finishingTimeDiff =  moment(finishing[i]["published"], "llll").diff(moment(finishing[i]['startedAt'], "llll"), 'm')%> 
                <% } %>
                <div class="timeDiff"><b>Lead Time</b><%=finishingTimeDiff%> mins</div>
              </li>
            <%}%>
          </ul>
        </div>
      </main>
    </div>

  </body>
</html>
