<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE EMPRO | Finishing Board</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="container">
      <header class="board__header">
        <h2>Finishing Board</h2>
        <a href="/" class="nav-link">Home</a>
      </header>
      <main class="board__main fib__main">
        <div class="board__todo">
          <h3>Todo</h3>
          <ul class="board__card">
            <% for(let i=0; i<data.length; i++) {%> 
              <li class="card__li">
                <% for(let key in data[i]) {%>
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=data[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                <% } %>
                <div class="card__completed"><a href="/finishing-board/<%=data[i].id%>">Completed</a></div>
              </li>
            <%}%>
          </ul>
        </div>
        <div class="board_inprogress">
          <h3>In Progess</h3>
          <ul class="board__card">
            <% for(let i=0; i<inProgress.length; i++) {%> 
              <li class="card__li">
                <% for(let key in inProgress[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=inProgress[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                <% } %>
                <div class="card__completed"><a id="workcyclecomplete" href="/finishing-board/completed/<%=inProgress[i].id%>">Completed</a></div>
              </li>
            <%}%>
          </ul>
        </div>
        <div class="board__completed">
          <h3>Completed</h3>
          <ul class="board__card">
            <% for(let i=0; i<completed.length; i++) {%> 
              <li class="card__li">
                <% for(let key in completed[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                      <div><b><%=key %>:</b>  <%=completed[i][key] %>  </div>
                    <% } %> 
                  <% } %>
                <% } %>
              </li>
            <%}%>
          </ul>
        </div>
      </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
      let btn = document.getElementById("workcyclecomplete");
      btn.addEventListener("click", function() {
        console.log('clicked')
        socket.emit('workcycle complete', 'One Work Cycle Completed')
      })
      
    </script>
  </body>
</html>
